body {
	background-image: linear-gradient(
		180deg,
		var(--bs-secondary-bg),
		var(--bs-body-bg) 100px,
		var(--bs-body-bg)
	);
}

/*Styles used for the custom modal*/
/*Modal does'nt line up perfectly as bootstrap's internal css overrides it
which makes it difficult to modify since it's bundled*/

.container {
	max-width: 960px;
}

.pricing-header {
	max-width: 700px;
}

.modal {
	background: linear-gradient(0deg, #777777dc, #68686859);
	width: 100%;
	height: 100dvh;
}

.modal-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0px 30px 0px;
}

.modal-head .close-btn,
.modal-head .closing-btn {
	outline: none;
	border: none;
	padding: 8px;
	border-radius: 50%;
	margin-bottom: 2px;
	font-size: 13px;
}

.newForm,
.newerForm {
	width: 100%;
	height: 650px;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	padding: 30px 50px;
	outline: none;
	border: 0;
}

.newerForm {
	height: 550px;
}

.modal-head h2 {
	font-weight: 700;
	font-size: 25px;
}

label {
	text-align: left;
	font-weight: 500;
	font-size: 16px;
	color: #474747;
	margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
	border: 1px solid #e0e0e0;
	font-size: 16px;
	padding: 2px 5px;
	outline: none;
	color: #000;
	font-weight: 600;
	border-radius: 5px;
	height: 40px;
}

input[type="number"] {
	width: 100px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #bbbbbb;
}

textarea {
	resize: none;
	height: 180px;
}

button[type="submit"] {
	margin: 10px 0px;
	outline: none;
	height: 50px;
	border-radius: 5px;
	outline: none;
	color: #fff;
	background-color: #0853c4;
	font-weight: 600;
	border: none;
	font-size: 16px;
	margin-bottom: 20px;
	transition: all ease 0.25s;
}

button[type="submit"]:hover {
	font-size: 17px;
	background-color: #0d6efd;
}

.range-slider {
	width: 400px;
	margin: 10px auto 30px auto;
	text-align: center;
	padding: 30px 0px;
}

.range-slider h2 {
	font-size: 26px;
	margin: 0px 0px 50px 0px;
}

.slider-platform {
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ececec;
	padding: 30px 10px 0px 10px;
}

.slider-platform .range {
	display: flex;
	justify-content: space-between;
	margin: 30px auto 10px auto;
	width: 90%;
	height: 20px;
	align-items: center;
}

.slider-platform .range p {
	font-size: 16px;
	font-weight: 600;
	color: #4b4b4b;
}

#slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 90%;
	background: none;
}

#slider::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	appearance: none;
	height: 3px;
	margin-top: -10px;
	background: linear-gradient(270deg,#000,#fff);
}

#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 35px;
	background-color: #4f87ff;
	margin-top: -16px;
	border-radius: 5px;
}
